    /*
    Flaticon icon font: Flaticon
    Creation date: 04/11/2019 16:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-decision-1:before { content: "\f100"; }
.flaticon-skills:before { content: "\f101"; }
.flaticon-decision:before { content: "\f102"; }
.flaticon-meeting:before { content: "\f103"; }
.flaticon-crm:before { content: "\f104"; }
.flaticon-together:before { content: "\f105"; }
.flaticon-respect:before { content: "\f106"; }
.flaticon-support:before { content: "\f107"; }
.flaticon-team:before { content: "\f108"; }
.flaticon-double-arrow:before { content: "\f109"; }
.flaticon-worker:before { content: "\f10a"; }
.flaticon-leadership:before { content: "\f10b"; }
.flaticon-programmer:before { content: "\f10c"; }
.flaticon-self-confidence:before { content: "\f10d"; }
.flaticon-analysis:before { content: "\f10e"; }
.flaticon-group:before { content: "\f10f"; }
.flaticon-thinking:before { content: "\f110"; }
.flaticon-team-1:before { content: "\f111"; }
.flaticon-mind:before { content: "\f112"; }
.flaticon-idea:before { content: "\f113"; }
.flaticon-adaptation:before { content: "\f114"; }
.flaticon-solution:before { content: "\f115"; }
.flaticon-html-5-logo:before { content: "\f116"; }
.flaticon-css-3:before { content: "\f117"; }
.flaticon-php-programming-language:before { content: "\f118"; }
.flaticon-c-logo:before { content: "\f119"; }
.flaticon-python-language-logotype:before { content: "\f11a"; }
.flaticon-java:before { content: "\f11b"; }
.flaticon-mysql:before { content: "\f11c"; }
.flaticon-education:before { content: "\f11d"; }
.flaticon-presentation:before { content: "\f11e"; }
.flaticon-work:before { content: "\f11f"; }
.flaticon-group-1:before { content: "\f120"; }
    
    $font-Flaticon-decision-1: "\f100";
    $font-Flaticon-skills: "\f101";
    $font-Flaticon-decision: "\f102";
    $font-Flaticon-meeting: "\f103";
    $font-Flaticon-crm: "\f104";
    $font-Flaticon-together: "\f105";
    $font-Flaticon-respect: "\f106";
    $font-Flaticon-support: "\f107";
    $font-Flaticon-team: "\f108";
    $font-Flaticon-double-arrow: "\f109";
    $font-Flaticon-worker: "\f10a";
    $font-Flaticon-leadership: "\f10b";
    $font-Flaticon-programmer: "\f10c";
    $font-Flaticon-self-confidence: "\f10d";
    $font-Flaticon-analysis: "\f10e";
    $font-Flaticon-group: "\f10f";
    $font-Flaticon-thinking: "\f110";
    $font-Flaticon-team-1: "\f111";
    $font-Flaticon-mind: "\f112";
    $font-Flaticon-idea: "\f113";
    $font-Flaticon-adaptation: "\f114";
    $font-Flaticon-solution: "\f115";
    $font-Flaticon-html-5-logo: "\f116";
    $font-Flaticon-css-3: "\f117";
    $font-Flaticon-php-programming-language: "\f118";
    $font-Flaticon-c-logo: "\f119";
    $font-Flaticon-python-language-logotype: "\f11a";
    $font-Flaticon-java: "\f11b";
    $font-Flaticon-mysql: "\f11c";
    $font-Flaticon-education: "\f11d";
    $font-Flaticon-presentation: "\f11e";
    $font-Flaticon-work: "\f11f";
    $font-Flaticon-group-1: "\f120";